
.navbar{
    background-color: var(--main-background-color);
    display: flex;
    align-items: stretch;
    flex-direction: line;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 5vw;
    max-width: 60px;
    padding: 10px 0 20px 0;
}


.logo{
    align-self: flex-start;
}

.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
    width: 100%;
    align-items: center;
    align-self: center;
}

li{
    text-align: center;
    list-style: none;
    padding: 10px;
}

li:hover{
    background-color: var(--main-color);
    transform: scale(1.1);
    border-radius: 30px;
}

.nav-btn{
    align-self: flex-end;
}
